[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==20.3.0"
beautifulsoup4 = "==4.9.3"
branca = "==0.4.1"
cachetools = "*"
certifi = "==2020.12.5"
cffi = "==1.14.4"
chardet = "==4.0.0"
click = "==7.1.2"
click-plugins = "==1.1.1"
cligj = "==0.7.1"
conda = "==4.3.16"
firebase-admin = "==4.5.0"
folium = "==0.11.0"
geographiclib = "==1.50"
geopandas = "==0.8.1"
geopy = "==2.1.0"
google-api-core = "==1.24.1"
google-api-python-client = "==1.12.8"
google-auth = "==1.24.0"
google-auth-httplib2 = "==0.0.4"
google-cloud-core = "==1.5.0"
google-cloud-firestore = "==2.0.2"
google-cloud-storage = "==1.35.0"
google-crc32c = "==1.1.0"
google-resumable-media = "==1.2.0"
googleapis-common-protos = "==1.52.0"
googlemaps = "==4.4.2"
grpcio = "==1.34.0"
html5lib = "==1.1"
httplib2 = "==0.18.1"
idna = "==2.10"
lxml = "==4.6.2"
msgpack = "==1.0.2"
munch = "==2.5.0"
numpy = "==1.19.4"
pandas = "==1.1.5"
proto-plus = "==1.13.0"
protobuf = "==3.14.0"
pyasn1 = "==0.4.8"
pyasn1-modules = "==0.2.8"
pycosat = "==0.6.3"
pycparser = "==2.20"
pyproj = "==3.0.0.post1"
python-dateutil = "==2.8.1"
pytz = "==2020.5"
regex = "==2020.11.13"
requests = "==2.25.1"
rsa = "==4.6"
"ruamel.yaml" = "==0.16.12"
"ruamel.yaml.clib" = "==0.2.2"
six = "==1.15.0"
soupsieve = "==2.1"
uritemplate = "==3.0.1"
urllib3 = "==1.26.2"
webencodings = "==0.5.1"
"zope.interface" = "==5.2.0"
CacheControl = "==0.12.6"
Cython = "==0.29.21"
DateTime = "==4.3"
Fiona = "==1.8.18"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Shapely = "==1.7.1"

[dev-packages]

[requires]
python_version = "3.7"
